html {

    /*background: url(vietnam.jpg) no-repeat left top fixed;*/
    background-color: steelblue;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

body {
    margin-top:0px;
    margin-bottom:0px
}

p.abstract {
    font-size: 80%
}
h2 {
    padding-top: 2em
}

#center_column_outer {
    background-color:rgba(255,255,255,0.85);
    float:center;
    max-width:62em;
    margin: 0 auto
}

#center_column_inner {
    padding-left: 2em; padding-right: 1.5em; padding-top: 1em; padding-bottom: 3em;
}
