html {
    /*background: url(vietnam.jpg) no-repeat left top fixed;*/
    /*background-color: steelblue;*/
    background-color: #eeeadd;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 62em) {
    #twitter {
        float: right;
        margin-left: 1em;
        margin-bottom: .5em;
    }
}

@media screen and (max-width: 62em) {
    /*
    #twitter-widget-0 {
        width: 50em !important;
        height: 20em !important;
    }
     */
    #twitter {
        display: none;
        text-align: center;
        float: none;
        margin-left: .7em;
        margin-bottom: .5em;
    }
}


body {
    margin-top:0px;
    margin-bottom:0px;
}

p.abstract {
    font-size: 80%
}
h2 {
    padding-top: 2em
}

h3 {
    /*for the pub page*/
    padding-bottom: 0em;
    margin-bottom: -.5em;
    padding-top: 1.5em;
}


@media only screen and (max-device-width: 600px) {
    h3 {
        -webkit-text-size-adjust: 210%;
        text-size-adjust: 210%;
    }
    p {
        -webkit-text-size-adjust: 180%;
        text-size-adjust: 180%;
    }
    li {
        -webkit-text-size-adjust: 180%;
        text-size-adjust: 180%;
    }
}


#center_column_outer {
    background-color:rgba(255,255,255,0.75);
    float:center;
    max-width:62em;
    margin: 0 auto
}

#center_column_inner {
    padding-left: 2em; padding-right: 1.5em;
    padding-top: 1em; padding-bottom: 3em;
}

p.links {
    font-size: 0.75em;
}